'.source.REXX':
  # For syntax, see
  # - readme at https://github.com/atom/snippets
  # http://flight-manual.atom.io/using-atom/sections/snippets/
  # $0 acts as a final tab stop.

  # ////////////////////////////////////////////////////////////////////
  # /* Comment
  # The comment snippet actually works (tested in 1.19), but it was not
  # obvious because there was no prompt.  Prompt is there in 1.23.1.
  # See the following issues for history:
  # https://github.com/atom/autocomplete-snippets/issues/56
  # https://github.com/atom/autocomplete-snippets/issues/67

  'Block comment':
    'prefix': 'comment'
    'body': '/* ${1} */$0'
  # --------------------------------------------------------------------
  'Else do/end':
    'prefix': 'else'
    'body': """
      else do
      \t$1
      end
      $0
    """
  # --------------------------------------------------------------------
  'If do/end':
    'prefix': 'if'
    'body': """
      if ${1:condition} then do
      \t$2
      end
      $0
    """
  # --------------------------------------------------------------------
  'Otherwise clause':
    'prefix': 'otherwise'
    'body': """
    otherwise do
        \t$1
      end /* Otherwise */
    """
  # --------------------------------------------------------------------
  'Procedure statement':
    'prefix': 'procedure'
    'body': """
    ${1:Name} : procedure expose ${2:variable names}
        \t$0
    return /* ${1:Name} */
    """
  # --------------------------------------------------------------------
  'Select':
    'prefix': 'select'
    'body': """
    select
    when ${1:condition} then do
        \t$2
      end /* when */
    otherwise do
        \t
      end /* otherwise */
    end /* select */
    """
  # --------------------------------------------------------------------
  '/* TODO: ... */':
    'prefix': 'todo'
    'body': '/* TODO: ${1:text} */$0'
  # --------------------------------------------------------------------
  'When clause':
    'prefix': 'when'
    'body': """
    when ${1:condition} then do
        \t$2
      end /* when */
    """
  # --------------------------------------------------------------------
  'Print output to console':
    'prefix': 'say'
    'body': 'say ${1:output}$0'
  # --------------------------------------------------------------------
  'General Repetition do/end':
    'prefix': 'do/end'
    'body': """
      do ${1:conditions}
          ${2:statements}
      end
      $0
    """
  # --------------------------------------------------------------------
  'Function':
    'prefix': 'function'
    'body': """
      ${1:FunctionName}:
      PARSE ARG ${2:arguments}
      Return ${3:value}
      $0
    """
  # --------------------------------------------------------------------
  'Tapping Error':
    'prefix': 'signal'
    'body': """
      signal ${1:on/off} ${2:ErrorCondition}
      $0
    """
  # --------------------------------------------------------------------
